<!DOCTYPE html>

<html>

<head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About Me</title>
        <link rel="icon" href="/img/weather.png">
        
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>




</html>