<!DOCTYPE html>

<html>
    <head>
            <link rel="stylesheet" href="/css/styles.css">
            <title>About</title>
            <link rel="icon" href="/img/weather.png">
            <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-idNH3UIOiZbCf8jxqu4iExnH34y5UovfW/Mg8T5WfNvoJolDvknoNqR69V2OexgF" crossorigin="anonymous">  
    </head>

    <body>
        <noscript>You must enable javascript to use this application.</noscript>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand">Meteorlogical Conditions</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Search</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

            </div>
        </nav><br><br> 
        <div class="main-content">
                <div class="jumbotron">
                    <h1 class="display-3">Welcome to Meteorlogical Conditions</h1>
                    <p class="lead">Meterological conditions is a minimalistic weather application that uses the mapbox and darksky apis to fetch geolocation data and weather data respectively.<br>
                        Simply type a location into the search bar and click the button to render the current weather to your browser.<br>
                        An interactive map is provided to help you keep track of your current search location. 
                     </p>
                    <hr class="my-4">
                    <p>This application was developed by Peter Fulton. If you would like to learn more about my work, please click the button below:</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="https://pmfulton.now.sh/" target="_blank" role="button">Learn more</a>
                    </p>
                </div>
        </div>
    </body>
</html>