<!DOCTYPE html>

<html>

<head>
       <title>404</title>
       <link rel="icon" href="/web-server/public/img/weather.png">
</head>

<body>
    <div class="main-content">
        <h1>404 Error</h1>
        <p>{{body}}</p>
    </div>
    
</body>




</html>